.container .title {
    color: #ffff;
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 2.5rem;

}


.title .query-text {
    color: #f7d354;
}

.movies-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 auto;
    max-width: 1200px;
}

.container .movies-container::-webkit-scrollbar {
    display: none;
}

.movies-container div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffff;
    background-color: #111;
    margin-bottom: .5rem;
    padding: 1rem;
    flex: none;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div p {

    color: #ffff;
    margin-bottom: 1rem;
}

.movies-container div h2 {
    margin-bottom: 1.5rem;
}

.movies-container svg {
    color: #b8930c;
}


.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    text-align: center;
    transition: .4s;
    font-weight: bold;

}

.movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
}

.container .button {
    width: 100%;
    text-align: center;


}

.container .button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffff;
    font-size: 2rem;
    padding-left: 3rem;



}